.footer__font {
    padding: 0 30px 60px 30px;
}

@media screen and (max-width: 890px) {
    .footer__font {
        padding: 0 15px 40px 15px;
    }
}

@media screen and (max-width: 375px) {
    .footer__font {
        padding: 0 15px 20px 15px;
    }
}