@import '../color/color.scss';

.cards {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 280px;
    border-radius: 16px;
    background-color: $color-white;
    padding: 25px 20px;
    cursor: grab;
    margin: 0 20px 0 0;

    &::-webkit-scrollbar {
        display: none;
    }
}

.cards:last-child {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .cards {
        padding: 20px 10px;
        margin: 0 10px 0 0;
    }
}

@media screen and (max-width: 375px) {
    .cards {
        width: 270px;
    }
}