.articles__6_big {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px; }

.articles__6_big {
  position: absolute;
  color: #FFFFFF;
  width: 400px;
  margin: 12px 0 0 20px; }
