.bunner__about {
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px; }

.bunner__about {
  display: block;
  color: #FFFFFF;
  opacity: 0.6;
  list-style-type: none; }

@media screen and (min-width: 1381px) {
  .bunner__about {
    padding: 65px 0 0 0; } }
@media screen and (max-width: 768px) {
  .bunner__about {
    display: none; } }
