@import '../../color/color.scss';
@import '../../font/font.scss';
@import '../../mixin/mixin.scss';

.bunner__about {   
    display: block; 
    color: $color-white;
    @extend %font-size-15;
    @include opacity();
    list-style-type: none;    
}

@media screen and (min-width: 1381px) {
    .bunner__about { 
    padding: 65px 0 0 0;
    }
}

@media screen and (max-width: 768px) {
    .bunner__about {
        display: none;
    }
}