@import '../../color/color.scss';
@import '../../font/font.scss';
@import '../../mixin/mixin.scss';

.bunner__about {   
    display: block; 
    color: $color-white;
    @extend %font-size-15;
    @include opacity();
    list-style-type: none;  
    padding: 3vw 0 0 0;  
    margin: 0;
}

@media screen and (max-width: 1100px) {
    .bunner__about {
        display: none;
    }
}