.bunner__about {
  font-style: normal;
  font-weight: normal;
  line-height: 25px; }

.bunner__about {
  display: block;
  color: #FFFFFF;
  opacity: 0.6;
  list-style-type: none;
  padding: 3vw 0 0 0;
  margin: 0; }

@media screen and (max-width: 1100px) {
  .bunner__about {
    display: none; } }
