.application__rate_form {
    padding: 0 0 0 40px;
}

@media screen and (max-width: 980px) {
    .application__rate_form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
}
