.money__button_2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  margin: 30px 0 0 0; }

@media screen and (max-width: 830px) {
  .money__button_2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-self: stretch;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    width: 100%; } }
