@import '../../../color/color.scss';

.application__rate_dashed {
    border-bottom: 2px $color-main-black dashed;
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .application__rate_dashed {
        border-bottom: none;
    }
}