.search_footer {
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px; }

::-webkit-input-placeholder {
  color: #FFFFFF; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #FFFFFF; }

:-ms-input-placeholder {
  color: #FFFFFF; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #FFFFFF; }

.search_footer {
  background-color: #282828;
  color: #FFFFFF;
  width: 503px;
  height: 55px;
  border-radius: 10px;
  border: none;
  opacity: 0.9;
  padding: 0 0 0 20px; }

@media screen and (max-width: 890px) {
  .search_footer {
    width: 325px; } }
@media screen and (max-width: 550px) {
  .search_footer {
    width: 250px; } }
@media screen and (max-width: 375px) {
  .search_footer {
    width: 285px; } }
