@import '../../color/color.scss';
@import '../../font/font.scss';

::-webkit-input-placeholder {
    color: $color-white;
  }
::-moz-placeholder { /* Firefox 19+ */
    color: $color-white;
  }
:-ms-input-placeholder {
    color: $color-white;
  }
:-moz-placeholder { /* Firefox 18- */
    color: $color-white;
  }

.search_footer {
    background-color: $color-grey;
    color: $color-white;
    @extend %font-size-20;
    width: 503px;
    height: 55px;
    border-radius: 10px;
    border: none;
    opacity: 0.9;
    padding: 0 0 0 20px;
}

@media screen and (max-width: 890px) {
  .search_footer {
      width: 325px;
  }
}

@media screen and (max-width: 550px) {
  .search_footer {
      width: 250px;
  }
}

@media screen and (max-width: 375px) {
  .search_footer {
      width: 285px;
  }
}
