.application__about_main {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; }

.application__about_main {
  margin: 0 0 10px 0; }

@media screen and (max-width: 768px) {
  .application__about_main {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; } }
@media screen and (max-width: 375px) {
  .application__about_main {
    margin: 0; } }
