.gadget__price_color {
  font-style: normal;
  font-weight: normal;
  line-height: 25px; }

.gadget__price_color {
  color: #FF5CA1;
  font-size: calc(18px + 10 * ((100vw - 768px) / 572));
  margin-right: 10px; }

@media screen and (max-width: 768px) {
  .gadget__price_color {
    font-size: 24px; } }
