.money__need_small {
  font-style: normal;
  font-weight: normal;
  line-height: 25px; }

.money__need_small {
  opacity: 0.6;
  margin: 20px 0 0 0; }

@media screen and (max-width: 768px) {
  .money__need_small {
    max-width: 335px; } }
