@import '../../../font/font.scss';

.money__need_small {
    @extend %font-size-15;
    margin: 20px 0 0 0;
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .money__need_small {
        max-width: 335px;
    }
}