@import '../font/font.scss';

.size {
    position: relative;
    @extend %font-size-80;
    margin: 0;
}

@media screen and (max-width: 768px) {
    %font-size-80 {
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 42px;
    }
}