.size {
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px; }

.size {
  position: relative;
  margin: 0; }

@media screen and (max-width: 768px) {
  .size {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; } }
