@import '../../../font/font.scss';

.money__account_font {
    @extend %font-size-50;
    max-width: 390px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    %font-size-50 {
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 42px;
    }
}

@media screen and (max-width: 768px) {
    .money__account_font {
        max-width: 250px;
        padding: 0 0 20px 0;
    }
}