@import '../../color/color.scss';
@import '../../mixin/mixin.scss';

.articles__5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    border-radius: 16px;
    background-color: $color-blue;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 0 20px;
}

@media screen and (max-width: 768px) {
    .articles__5 {
        @include switching_to_flex();
    }
}