.money__account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 45px 0;
}

@media screen and (max-width: 768px) {
    .money__account {
        flex-direction: column;
        align-items: flex-start;
    }
}
