@import '../../../font/font.scss';

.header__subtitle_button-icon {
    position: relative;
    display: flex;
    justify-content: space-between;
    @extend %font-size-15;
    padding: 0;
    margin: 0;
    align-items: center;
}