.main__application_beelain {
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 58px; }

.main__application_beelain {
  width: 380px;
  height: 180px;
  margin: 0 0 100px 0; }
