@import '../../../font/font.scss';
@import '../../../color/color.scss';

.articles__6_small {
    position: absolute;
    @extend %font-size-15;
    color: $color-white;
    width: 370px;
    margin: 116px 0 0 20px;
    opacity: 0.7;
}