.application__button {
  position: relative;
  padding: 0;
  margin: 0 20px 0 0;
  cursor: pointer;
  width: 177px;
  height: 60px;
  border: 0;
  border-radius: 16px; }
  .application__button:last-child {
    margin: 0; }

@media screen and (max-width: 768px) {
  .application__button {
    width: 163px;
    margin: 0 10px 0 0; }
    .application__button:last-child {
      margin: 0; } }
