.application__button {
  position: relative;
  padding: 0;
  margin: 0;
  cursor: pointer;
  width: 177px;
  height: 60px;
  border: 0;
  border-radius: 16px;
  margin-right: 20px;
  left: 30px;
  bottom: 370px; }
