@import '../../../color/color.scss';
@import '../../../font/font.scss';

.main__bunner_slogan {
    position: relative;
    color: $color-white;
    @extend %font-size-70;
    padding: 0;
    margin: 0;
    width: 435px;
    height: 135px;
    left: 30px;
    bottom: 490px;
}