@import '../../../color/color.scss';
@import '../../../font/font.scss';

.gadget__megafon_button {
    position: relative;
    background-color: $color-yellow-button;
    color: $color-main-black;
    border-radius: 30px;
    padding: 0;
    margin: 0 15px 0 0;
    border: none;

    &:last-child {
        margin: 0;
    }
}