.gadget__megafon_button {
  position: relative;
  background-color: #FFDD00;
  color: #000000;
  border-radius: 30px;
  padding: 0;
  margin: 0 15px 0 0;
  border: none; }
  .gadget__megafon_button:last-child {
    margin: 0; }
