@import '../../../color/color.scss';

.money__button_yellow {
    background-color: $color-yellow-button;
    border: none;
}

@media screen and (max-width: 768px) {
    .money__button_yellow {
        max-width: 100%;
    }
}