$color-main-white: #E5E5E5;
$color-main-black: #000000;
$color-grey: #282828;
$color-white: #FFFFFF;
$color-pink: #FF5CA1;
$color-black: #181818;
$color-blue: #80C9FF;
$color-yellow-button: #FFDD00;
$color-yellow-additional: #FBE349;
