.main__bunner_rate-GB {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; }

.main__bunner_rate-GB {
  color: #FFFFFF;
  padding-left: 45px;
  width: 280px;
  height: 160px; }
