.bunner__rate_GB {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; }

.bunner__rate_GB {
  color: #FFFFFF;
  padding: 0;
  max-width: 280px; }

@media screen and (max-width: 768px) {
  .bunner__rate_GB {
    color: #000000;
    max-width: 100%;
    padding: 0 22px 0 0; } }
