@import '../../../color/color.scss';
@import '../../../font/font.scss';
@import '../../../mixin/mixin.scss';

.bunner__rate_GB {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: $color-white;
    @include adaptiv-font(28, 16);
    @extend %font-size-32;
    padding: 0;
    max-width: 280px;
}

@media screen and (max-width: 1100px) {
    .bunner__rate_GB {
        color: $color-main-black;
        max-width: 100%;
        padding: 0 22px 0 0;
        font-size: 20px;
    }
}
