@import '../../../color/color.scss';
@import '../../../font/font.scss';

.bunner__rate_GB {
    color: $color-white;
    @extend %font-size-32;
    padding: 0;
    max-width: 280px;
}

@media screen and (max-width: 768px) {
    .bunner__rate_GB {
        color: $color-main-black;
        max-width: 100%;
        padding: 0 22px 0 0;
    }
}
