.main__gadget_price-all {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; }

.main__gadget_price-all {
  padding: 8px 10px 10px 20px;
  cursor: pointer;
  margin: 0; }
