@import '../../../color/color.scss';

.main__gadget_price-shop {
    position: relative;
    grid-row-start: 2;
    grid-row-end: 6;
    width: 280px;
    height: 390px;
    padding: 20px;
    border-radius: 16px;
    background-color: $color-white;
}