@import '../../../color/color.scss';
@import '../../../font/font.scss';

.main__gadget_price-color-old {
    color: $color-main-black;
    @extend %font-size-15;
    text-decoration: line-through;
    opacity: 0.3;
}