.money__need_big {
  font-style: normal;
  font-weight: 500;
  line-height: 58px; }

.money__need_big {
  font-size: calc(30px + 10 * ((100vw - 768px) / 572));
  margin: 0;
  max-width: 500px; }

@media screen and (max-width: 768px) {
  .money__need_big {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; } }
@media screen and (max-width: 768px) {
  .money__need_big {
    max-width: 270px; } }
