@import '../../../color/color.scss';

.main__tarifs_button {
    position: absolute;
    background-color: $color-main-white;
    border: 1px solid $color-main-black;
    top: 210px;
    right: 20px;
}