.money__input_number {
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px; }

::-webkit-input-placeholder {
  color: #787878; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #787878; }

:-ms-input-placeholder {
  color: #787878; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #787878; }

.money__input_number {
  padding: 14px 20px 14px 50px;
  border-radius: 10px;
  border: none;
  background-color: #E5E5E5;
  color: #787878; }
