.application__about {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 0 34px 0;
}

@media screen and (max-width: 980px) {
    .application__about {
        padding: 0;
    }
}

@media screen and (max-width: 375px) {
    .application__about {
        margin: 0;
    }
}