.money__input {
    position: relative;

    &:last-child {
        margin: 0 0 0 20px;
    }
}

@media screen and (max-width: 1160px) {
    .money__input:last-child {
        margin: 20px 0 0 0;
    }
}