@import '../../font/font.scss';

.application__beelain {
    position: relative;
    width: 380px;
    height: 180px;
    @extend %font-size-50;
    margin: 0;
    padding: 0;
    left: 30px;
    bottom: 470px;
}