@import '../../font/font.scss';

.application__beelain {
    position: relative;
    max-width: 380px;
    font-size: 50px;
    @extend %font-size-50;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    %font-size-50 {
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 42px;
    }
}

@media screen and (max-width: 768px) {
    .application__beelain {
        max-width: 310px;
    }
}