.application__beelain {
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 58px; }

.application__beelain {
  position: relative;
  width: 380px;
  height: 180px;
  margin: 0;
  padding: 0;
  left: 30px;
  bottom: 470px; }
