.application__beelain {
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 58px; }

.application__beelain {
  position: relative;
  max-width: 380px;
  margin: 0;
  padding: 0; }

@media screen and (max-width: 768px) {
  .application__beelain {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; } }
@media screen and (max-width: 768px) {
  .application__beelain {
    max-width: 310px; } }
