.main__articles_4-small {
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px; }

.main__articles_4-small {
  position: absolute;
  width: 310px;
  margin: 116px 0 0 20px;
  opacity: 0.7; }
