.discount_minus {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; }

.discount_minus {
  background-color: #FFDD00;
  color: #000000;
  border-radius: 30px;
  width: 90px;
  height: 30px;
  padding: 2px 0 0 20px;
  margin: 0; }
