@import '../../../color/color.scss';

.gadget__price_shop {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
    grid-row-end: 6;
    max-width: 320px;
    border-radius: 16px;
    background-color: $color-white;
    padding: 20px;
}