@import '../../font/font.scss';

.articles__big {
    position: relative;
    @extend %font-size-40;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1230px) {
    %font-size-40 {
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
    }

    .articles__big {
        margin: 40px 0 0 0;
    }
}