.gadget__price_photo {
    margin: 0 auto;
    padding: 40px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .gadget__price_photo {
        padding: 20px 0 0 0;
    }
}