@import '../../../color/color.scss';
@import '../../../font/font.scss';

.cards__number_circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: $color-black;
    color: $color-white;
    border-radius: 30px;
    @extend %font-size-32-500;
}