.cards__number_circle {
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  line-height: 30px; }

.cards__number_circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #181818;
  color: #FFFFFF;
  border-radius: 30px; }
