@import '../../../color/color.scss';

.articles__4_button {
    position: relative;
    background-color: $color-yellow-button;
    border: 1px solid rgba($color-main-black, 0.4);
    margin: 0 0 30px 0;
}

@media screen and (max-width: 1230px) {
    .articles__4_button {
        width: 100%;
        margin: 5px 0 0 0;
    }
}