@import '../../../color/color.scss';

.footer__block_button-socialNetwork {
    background-color: $color-main-black;
    width: 50px;
    height: 50px;
    border: 1px solid rgba($color-white, 0.3);
    margin: 0 10px 0 0;
    padding: 0;
}

@media screen and (max-width: 890px) {
    .footer__block_button-socialNetwork {
        margin: 0 5px 0 0;
        width: 45px;
        height: 45px;
    }
}

@media screen and (max-width: 375px) {
    .footer__block_button-socialNetwork {
        margin: 0 4px 0 0;
        width: 43px;
        height: 43px;
    }
}