.discount_SIM {
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px; }

.discount_SIM {
  background-color: #FBE349;
  border-radius: 20px;
  padding: 1px 20px;
  margin: 0; }
