.footer__information_private {
    display: block;
    width: 30%;
    border-bottom: none;
    margin: 0 15px 0 0;
    float: left;
}

@media screen and (max-width: 768px) {
    .footer__information_private {
        width: 47%;
    }
}

@media screen and (max-width: 375px) {
    .footer__information_private {
        width: 95%;
    }
}