.main__articles_2-small {
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px; }

.main__articles_2-small {
  position: absolute;
  width: 300px;
  margin: 78px 0 0 20px;
  opacity: 0.7; }
