@import '../../../color/color.scss';

.bunner__button_about {
    position: relative;
    background-color: $color-yellow-button;
    width: 217px;
    height: 55px;
    padding: 0;
    margin: 0;
    left: 30px;
    bottom: 450px;
    border: none;
}
