@import '../../../color/color.scss';

.header__subtitle_search {
    position: relative;
    background-color: $color-main-black;
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0 auto;
    border-radius: 30px;
    border: none;
    background-image: url(../../../../images/search_dark.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    &:hover {
        opacity: 0.6;
    }
}

@media screen and (max-width: 768px) {
        .header__subtitle_search {
        background-color: $color-white;
        background-image: url(../../../../images/search_light.png);
    }
}
