@import '../../../font/font.scss';

.money__choice_font {
    @extend %font-size-20;
    margin-right: 30px;
}

.money__choice_font:last-child {
    margin: 0 335px 0 0;
}

@media screen and (max-width: 768px) {
    .money__choice_font:last-child {
        margin: 0 50px 0 0;
    }
}

@media screen and (max-width: 375px) {
    .money__choice_font:last-child {
        margin: 0;
    }
}