.money__choice_font {
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px; }

.money__choice_font {
  margin-right: 30px; }
  .money__choice_font:last-child {
    margin: 0 335px 0 0; }

@media screen and (max-width: 1370px) {
  .money__choice_font:last-child {
    margin: 0 100px 0 0; } }
@media screen and (max-width: 925px) {
  .money__choice_font:last-child {
    margin: 0 50px 0 0; } }
@media screen and (max-width: 375px) {
  .money__choice_font:last-child {
    margin: 0; } }
