@import '../../color/color.scss';

.money__button {
    background-color: $color-yellow-button;
    border: none;
    margin: 35px 0 0 165px;
}

@media screen and (max-width: 768px) {
    .money__button {
        margin: 35px 0 0 0;
    }
}