.application__rate_none {
    display: inline-block;
}

@media screen and (max-width: 980px) {
    .application__rate_none {
        display: flex;
    }
}

@media screen and (max-width: 575px) {
    .application__rate_none {
        display: none;
    }
}