@import '../../color/color.scss';

.gadget__megafon {
    background-color: $color-white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

