.main__bunner_about-rate {
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px; }

.main__bunner_about-rate {
  color: #FFFFFF;
  padding: 65px 0 0 45px;
  list-style-type: none;
  opacity: 0.8; }
