.main__application_rate-conditions {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; }

.main__application_rate-conditions {
  padding: 105px 0 0 40px;
  opacity: 0.6; }
