.articles__6_img {
  margin: 0 auto;
  padding: 0;
  border: none;
  width: 202px;
  height: 258px; }

@media screen and (max-width: 1230px) {
  .articles__6_img {
    padding: 10px 0 0 0;
    width: 118px;
    height: 150px; } }
