.footer__information {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 640px;
  margin: 0;
  padding: 0; }

@media screen and (max-width: 890px) {
  .footer__information {
    max-width: 790px; } }
