.gadget__megafon_problem {
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 58px; }

.gadget__megafon_problem {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 7px;
  left: 60px; }

@media screen and (max-width: 768px) {
  .gadget__megafon_problem {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; } }
@media screen and (max-width: 768px) {
  .gadget__megafon_problem {
    position: relative; } }
