.gadget__price_block {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

@media screen and (max-width: 768px) {
    .gadget__price_block {
        flex-direction: column;
    }
}