.money {
  position: relative;
  display: grid;
  max-width: 1340px;
  margin: 100px 0 0 0;
  grid-template-columns: 1fr 1fr;
  gap: 20px; }

@media screen and (max-width: 768px) {
  .money {
    max-width: 768px; } }
@media screen and (max-width: 375px) {
  .money {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr; } }
