@import '../../../color/color.scss';

.main__articles_5-button {
    position: absolute;
    background-color: $color-blue;
    border: 1px solid rgba($color-main-black, 0.4);
    margin: 230px 0 0 20px;
}