.numbers__select_button {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  border: none; }

@media screen and (max-width: 960px) {
  .numbers__select_button {
    display: none; } }
