.application__rate_conditions {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; }

.application__rate_conditions {
  padding: 105px 0 0 40px;
  opacity: 0.6; }

@media screen and (max-width: 768px) {
  .application__rate_conditions {
    padding: 0; } }
