@import '../../../font/font.scss';
@import '../../../mixin/mixin.scss';

.money__font_small {
    @extend %font-size-13;
    @include opacity();
    margin: 0;
    padding: 0;
    width: 290px;
    text-align: center;
}