.main__gadget_megafon-problem {
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 58px; }

.main__gadget_megafon-problem {
  position: absolute;
  bottom: 7px;
  left: 60px; }
