.footer__block_padding {
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width: 890px) {
    .footer__block_padding {
        flex-direction: row;
    }
}

@media screen and (max-width: 375px) {
    .footer__block_padding {
        flex-direction: column;
    }
}