@import '../../font/font.scss';
@import '../../mixin/mixin.scss';

.articles__small {
    position: relative;
    @extend %font-size-15;
    @include opacity();
    margin: 15px 0 0 0;
    padding: 0;
}