@import 'color';

.beelainTV {
    position: relative;
    margin: 100px 0 200px 0;
    max-width: 1340px;

    &__img {
        position: absolute;
        max-width: 100%;
        height: 740px;
        object-fit: cover;
    }

    &__font {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 636px;
    }

    &__size {
        max-width: 830px;
        text-align: center;
    }

    &__button {    
        background-color: $color-yellow-button;
        border: none;
        margin: 40px 0 0 0;
    }
}

@media screen and (max-width: 768px) {
    .beelainTV {
        &__img {
            height: 420px;
        }

        &__font {
            height: 400px;
        }
    }
}