@import 'color';
@import 'font';
@import 'mixin';

.button {
    @extend %font-size-15-500;
    border-radius: 30px;
    padding: 15px 35px;
    cursor: pointer;

    &:hover {
        @include opacity();
    }    
}

.button_border {
    border: 1px solid $color-main-black;
}