@import 'color';
@import 'font';
@import 'mixin';

.footer {    
    position: relative;
    max-width: 1340px;
    margin: 0 auto;
    padding: 0;
    background-color: $color-main-black;
    border-radius: 16px;
    opacity: 0.9;

    .footer__font {
        padding: 0 30px 60px 30px;
    }

    .footer__font_size {
        color: $color-white;
        @extend %font-size-11-400;
        @include opacity();
        margin: 10px 0 0 0;
    }

    .footer__block {
        position: relative;
        margin: 0 auto;
        padding: 60px 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    
    .footer__block_button {
        margin: 0;
    }

    .footer__block_button-socialNetwork {
        background-color: $color-main-black;
        width: 50px;
        height: 50px;
        border: 1px solid rgba($color-white, 0.3);
        margin: 0 10px 0 0;
        padding: 0;
    }

    .footer__block_padding {
        display: flex;
        padding: 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer__search {
        margin: 0;
    }

    .footer__information {
        box-sizing: border-box;
        max-width: 640px;
        margin: 0;
        padding: 0;
    }

    .footer__information_private {
        display: block;
        width: 30%;
        border-bottom: none;
        margin: 0 15px 0 0;
        float: left;
    }

    .footer__information_private-heading {
        display: block;
        margin: 5px 0 15px 0;
        @extend %font-size-15-500;
        @include opacity();
        color: $color-white;
    }

    .footer__information_private-li {
        margin: 0 0 10px 0;
        list-style-type: none;
    }

    .footer__information_private-pressa {
        padding-bottom: 30px;
    }

    .footer__information_private-span {
        text-decoration: none;
        color: $color-white;
        @extend %font-size-13;
        margin: 0 0 10px 0;
        cursor: pointer;
        padding: 0;
    }

    .footer__information_private-ul {
        margin: 0;
        padding: 0;
    }

    .footer__lang {
        position: absolute;
        display: block;
        right: 150px;
        bottom: 90px;
    }

    .footer__lang_img {
        float: left;
        padding: 7px 10px 0 0;
    }

    .footer__lang_font {
        color: $color-white;
        @extend %font-size-15;
        margin: 0;
        padding: 0;
        float: left;
    }
}

@media screen and (max-width: 890px) {
    %font-size-13 {
        font-size: 15px;
        font-style: normal;
        font-weight: normal;
        line-height: 25px;
    }
}

@media screen and (max-width: 890px) {
    .footer__font {
        padding: 0 15px 40px 15px;
    }

    .footer__block {
        grid-template-columns: 1fr;
        padding: 20px 15px 50px 15px;
    }

    .footer__block_button-socialNetwork {
        margin: 0 5px 0 0;
        width: 45px;
        height: 45px;
    }

    .footer__block_padding {
        flex-direction: row;
    }

    .footer__information {
        max-width: 790px;
    }

    .footer__information_private {
        width: 47%;
    }

    .footer__lang {
        left: 15px;
        bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 768px;
    }
}

@media screen and (max-width: 375px) {
    .footer {
        max-width: 375px;
    }

    .footer__font {
        padding: 0 15px 20px 15px;
    }

    .footer__block {
        padding: 30px 15px 40px 15px;
    }

    .footer__block_button-socialNetwork {
        margin: 0 4px 0 0;
        width: 43px;
        height: 43px;
    }

    .footer__block_padding {
        flex-direction: column;
    }

    .footer__information_private {
        width: 95%;
    }
}