@import 'color';
@import 'font';
@import 'mixin';

.header {
    height: 100%;
    max-width: 1340px;
    margin: 0 auto;

    &__title {
        display: flex;
        justify-content: space-between;
        padding-bottom: 13px;

        &_edge {
            display: flex;
            justify-content: space-between;
        }

        &_button {
            color: $color-main-black;
            background-color: $color-main-white;
            @extend %font-size-15;
            padding-right: 23px;
            border: none;
            cursor: pointer;
        
            &:hover {
                @include opacity();
            }
        }

        &_button-separator {
            cursor: default;
        
            &:hover {
                opacity: 1;
            }
        }

        &_button-indent {
            padding-right: 41px;
        }

        &_block {
            display: block;
        }
        
        &_block-hidden {
            display: none;
        }

        &__dropdown-city {
            position: relative;
        }

        &_menu {
            @include dropdown_menu();
            background-color: $color-main-white;      
        }

        &_list {
            @include dropdown_menu();
            background-color: $color-main-white;      
        }

        &_visible {
            display: block;
        }

        &_item {
            padding-top: 10px;
            cursor: pointer;

            &:hover {
                @include opacity();                
            }
        }

        &_items {
            padding-top: 10px;
            cursor: pointer;

            &:hover {
                @include opacity();                
            }
        }


    }

    &__subtitle {
        display: flex;
        height: 39px;
        justify-content: space-between;
        align-items: center;
        padding: 13px 19px;
        background-color: $color-white;
        border-radius: 16px;

        &_768 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &_burger {
            display: none;
            width: 20px;
            height: 20px;
            padding-right: 20px;
            cursor: pointer;
        
            &:hover {
                @include opacity();
            }
        }

        &_block-menu {
            position: relative;
        }

        &_button {
            justify-content: space-between;
            align-items: center;
            color: $color-main-black;
            background-color: $color-white;
            font-size: 19px;
            font-style: normal;
            font-weight: normal;
            line-height: 25px;
            border: none;
            cursor: pointer;
            padding: 0 30px 0 0;
            margin: 0;
        
            &:hover {
                @include opacity();
            }
        }

        &_text {
            margin: 0;
            padding: 0;
        }

        &_arrow {
            position: relative;
            display: inline-block;
            border: solid $color-main-black;
            border-width: 0 2px 2px 0;
            padding: 4px;
            margin-left: 10px;
            transform: rotate(45deg) translateX(-3px);
        }

        &_arrow-active {
            transform: rotate(225deg) translateX(-3px);
        }

        &_menu {
            @include dropdown_menu();
            background-color: $color-white;
        }

        &_active {
            display: block;
        }

        &_item {
            padding-top: 10px;
            cursor: pointer;

            &:hover {
                @include opacity();                
            }
        }

        &_button-icon {
            display: flex;
            @extend %font-size-15;
            padding: 0;
            margin: 0;
        }

        &_img {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &_block {
            display: flex;
        }

        &_none {
            display: block;
        }

        &_user {
            display: flex;
            justify-content: space-between;
        }

        &_office {
            @extend %font-size-15;
            padding: 0 30px 0 0;
            margin: 0;
        }

        &_search {
            background-color: $color-main-black;
            width: 35px;
            height: 35px;
            padding: 0;
            margin: 0 auto;
            border-radius: 30px;
            border: none;
            background-image: url(../images/search_dark.svg);
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
        
            &:hover {
                @include opacity();
            }
        }
    }

    &__logo {
        width: 39px; 
        height: 39px;
        padding: 0 30px 0 0;
        margin: 0;
    }

    &__icon {
        width: 24px;
        height: 24px;
        left: 1123px;
        top: 67px;
        padding-right: 10px;
    }
}

.header__title_dropdown.open .header__title_menu {
    display: block;
}

@media screen and (max-width: 882px) {
    .header {
        &__subtitle {
            &_button {
                font-size: 14px;
                font-style: normal;
                font-weight: normal;
                line-height: 20px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 768px;

        &__title {
        padding-bottom: 6px;

            &_button {
            padding-right: 17px;
            }

            &_block {
                display: none;
            }

            &_block-hidden {
                display: block;
            }
        }

        &__subtitle {

            &_burger {
            display: block;
            }

            &_block {
                display: none;
            }

            &_search {
                background-color: $color-white;
                background-image: url(../images/search_light.svg);
            } 
            
            &_button {
                font-size: 15px;
                font-style: normal;
                font-weight: normal;
                line-height: 25px;
            }
        }

        &__logo {
            width: 30px; 
            height: 30px;
        }
    }
}

@media screen and (max-width: 500px) {
    .header__subtitle_none {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .header {
        max-width: 375px;

        &__subtitle_office {
        padding: 0 10px 0 0;
    }

        &__logo {
            padding: 0 10px 0 0;
        }
    }
}