@font-face {
    font-family: 'Golos';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/GolosText-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'Golos';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/GolosText-Medium.ttf') format("truetype");
}

@font-face {
    font-family: 'Golos';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/GolosText-DemiBold.ttf') format("truetype");
}

@font-face {
    font-family: 'Golos';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/GolosText-Bold.ttf') format("truetype");
}

@font-face {
    font-family: 'Golos';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url('../fonts/GolosText-Black.ttf') format("truetype");
}