@import 'color';
@import 'font';
@import 'mixin';

.money {
    position: relative;
    display: grid;
    max-width: 1340px;
    margin: 100px 0 0 0;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    &__pay {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 16px;
        background-color: $color-white;
        padding: 30px;
    }

    &__account {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 45px 0;
        width: 100%;
        
        &_font {
            @include adaptiv-font(40, 30);
            font-style: normal;
            font-weight: 500;
            line-height: 58px;
            max-width: 390px;
            margin: 0;
        }
    }

    &__need {
        max-width: 560px;
        
        &_big {
            @include adaptiv-font(40, 30);
            font-style: normal;
            font-weight: 500;
            line-height: 58px;
            margin: 0;
            max-width: 500px;
        }

        &_small {
            @extend %font-size-15;
            @include opacity();
            margin: 20px 0 0 0;
        }
    }

    &__input {
        position: relative;
    
        &:last-child {
            margin: 0 0 0 20px;
        }
        
        &_7 {
            position: absolute;
            @extend %font-size-20;
            margin: 0;
            padding: 14px 0 14px 18px;
        }

        ::-webkit-input-placeholder {
        color: $color-grey-light;
        }
        ::-moz-placeholder { /* Firefox 19+ */
            color: $color-grey-light;
        }
        :-ms-input-placeholder {
            color: $color-grey-light;
        }
        :-moz-placeholder { /* Firefox 18- */
            color: $color-grey-light;
        }
        
        &_number {
            padding: 14px 20px 14px 50px;
            border-radius: 10px;
            border: none;
            background-color: $color-main-white;
            color: $color-grey-light;
            @extend %font-size-20;
        }

        &_one {
            margin: 0;
        }

        &_two {
            display: flex;
            margin: 40px 0 0 0;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__font {
        position: absolute;
        right: 30px;
        bottom: 190px;
        @extend %font-size-13;
        @include opacity();
        margin: 0;
        
        &_small {
            @extend %font-size-13;
            @include opacity();
            margin: 0;
            padding: 0;
            width: 290px;
            text-align: center;
        }
    }

    &__button {
        background-color: $color-yellow-button;
        border: none;
        margin: 0;
        
        &_2 {
            display: grid;
            grid-template-rows: 1fr 1fr;
            justify-content: center;
            gap: 15px;
            margin: 30px 0 0 0;
        }

        &_yellow {
            background-color: $color-yellow-button;
            border: none;
        }

        &_black {
            background-color: $color-main-black;
            color: $color-white;
            border: none;
        }
    }

    &__choice {
        display: inline;
        border-bottom: 1px solid rgba($color-main-black, 0.3);
        margin: 0;
        padding: 10px 0;

        &_font {
            @extend %font-size-20;
            margin-right: 30px;
        
            &:last-child {
                margin: 0 335px 0 0;
            }
        }

        &_underline {
            padding-bottom: 9px;
            border-bottom: 3px solid $color-main-black;
        }

        &_opacity {
            @include opacity();
        }
    }
}

@media screen and (max-width: 1370px) {
    .money {
        &__choice {
            &_font:last-child {
                margin: 0 100px 0 0;
            }
        }
    }    
}

@media screen and (max-width: 1160px) {
    .money {
        &__input:last-child {
        margin: 20px 0 0 0;
        }

        &__input {
            &_two {
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 925px) {
    .money {
        &__choise {
            &_font:last-child {
                margin: 0 50px 0 0;
            }
        }
    }
}

@media screen and (max-width: 830px) {
    .money {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        &__button {
            &_2 {
                justify-content: center;
                justify-self: stretch;
                align-self: stretch;
                align-content: stretch;
                width: 100%;
            }

            &_yellow {
                max-width: 100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .money {
        &__account {
            flex-direction: column;
            align-items: flex-start;
            
            &_font {
                max-width: 250px;
                padding: 0 0 20px 0;
                font-size: 40px;
                font-style: normal;
                font-weight: 500;
                line-height: 42px;
            }
        }
        
        &__need {
            max-width: 335px;
            
            &_big {
                max-width: 270px;
                font-size: 40px;
                font-style: normal;
                font-weight: 500;
                line-height: 42px;
            }

            &_small {
                max-width: 335px;
            }
        }

        &__font {
            left: 30px;
        }
    }
}

@media screen and (max-width: 375px) {
    .money {
        &__choise {
            &_font:last-child {
                margin: 0;
            }
        }
    }
}