@import 'color';
@import 'font';
@import 'mixin';

.numbers {
    position: relative;
    margin: 0 auto;
    padding-top: 50px;
    max-width: 1340px;

    &__all {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 60px 0 0 0;
    }

    &__button {
        background-color: $color-main-white;
        border: 1px solid $color-main-black;
        margin: 0;
        
        &_none {
            position: absolute;
            display: block;
            top: 145px;
            right: 0px;
        }

        &_appeared {
            display: none;
        }
    }

    &__choice {
        position: relative;
        display: inline;
        border-bottom: 1px solid rgba($color-main-black, 0.3);
        margin: 0 0 0 80px;
        padding: 10px 0;
        
        &_font {
            @extend %font-size-20;
            margin: 0 30px 0 0;
        
            &:last-child {
                margin: 0 100px 0 0;
            }
        }

        &_opacity {
            @include opacity();
        }

        &_underline {
            padding: 0 0 9px 0;
            border-bottom: 3px solid $color-main-black;
        }

        &_none {
            display: inline;
        }
    }

    &__block {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__select {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 75px;
        row-gap: 15px;
        margin: 0;
        
        &_all {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 290px;
            background-color: $color-white;
            border-radius: 10px;
            border: none;
            padding: 10px 20px;
        }

        &_all-none {
            display: flex;
        }

        &_big {
            @extend %font-size-28;
            margin: 0 30px 0 0;
        }

        &_small {
            @extend %font-size-15;
            @include opacity();
        }

        &_shop {
            background-color: $color-white;
            @include opacity();
            border: none;
            padding: 0;
            margin: 0 0 0 30px;
            display: none;
        }

        &_button {
            display: block;
            position: relative;
            padding: 0;
            margin: 0;
            border: none;
        }
    }
}

@media screen and (max-width: 1182px) {
    .numbers {
        &__choice {
            &_font:last-child {
                @include adaptiv-font(20, 10);
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    .numbers {
        &__button {
            &_none {
                display: none;
            }

            &_appeared {
                position: relative;
                display: block;
                width: 100%;
                margin: 30px 0 0 0;
            }
        }

        &__choice {
            margin: 0 0 0 10px;
        }

        &__select {
            &_button {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    %font-size-28 {
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        line-height: 30px;
    }
}

@media screen and (max-width: 768px) {
    .numbers {
        &__all {
            margin: 30px 0 0 0;
        }

        &__choice {
            margin: 30px 0 0 0;    
            
            &_font {
                font-size: 15px;

                &:last-child {
                    margin: 0 100px 0 0;
                }
            }
        }

        &__select {
            grid-template-columns: 1fr 1fr;
            
            &_all-none {
                display: none;
            }

            &_shop {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    .numbers {
        &__choice {
            &_font:last-child {
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 630px) {
    .numbers {
        &__select {
            column-gap: 15px;
        }
    }
}

@media screen and (max-width: 570px) {
    .numbers {
        &__select {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

            &_all {
                max-width: 550px;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .numbers {
        &__choice {
            &_none {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .numbers {
        &__all {
            margin: 30px 0 0 0;
        }

        &__button {
            &_appeared {
                margin: 20px 0 0 0;
            }
        }
    }
}