.money__font {
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px; }

.money__font {
  position: absolute;
  right: 30px;
  bottom: 190px;
  opacity: 0.6;
  margin: 0; }

@media screen and (max-width: 768px) {
  .money__font {
    left: 30px; } }
