.gadget__price_navigation {
  position: relative;
  background-color: #FFFFFF;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0;
  padding: 0;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
