@import '../../color/color.scss';

.articles__2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border-radius: 16px;
    background-color: $color-white;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px 0 20px;
    max-width: 620px;
}

@media screen and (max-width: 768px) {
    .articles__2 {
        position: relative;
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 280px;
        padding: 20px;
        cursor: grab;
        margin: 0 10px 0 0;
        flex-direction: column;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}