.numbers__select_all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 290px;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: none;
  padding: 10px 20px; }

@media screen and (max-width: 570px) {
  .numbers__select_all {
    max-width: 550px; } }
