@import '../../../color/color.scss';

.numbers__select_all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 290px;
    background-color: $color-white;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
}