@import '../../../color/color.scss';

.numbers__select_all {
    width: 290px;
    height: 25px;
    background-color: $color-white;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
}