.money__input_two {
    display: flex;
    margin: 40px 0 0 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1160px) {
    .money__input_two {
        flex-direction: column;
    }
}