@import '../../../mixin/mixin.scss';

.bunner__button_img {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 0;
    cursor: pointer;

    &:hover {
        @include opacity();
    }

    &:last-child {
        left: 10px;
    }
}
