.bunner__button_img {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 0;
    cursor: pointer;
}

.bunner__button_img:hover {
    opacity: 0.6;
}

.bunner__button_image:last-child {
    left: 10px;
}