@import '../../../color/color.scss';
@import '../../../mixin/mixin.scss';

.numbers__select_shop {
    background-color: $color-white;
    @include opacity();
    border: none;
    padding: 0;
    margin: 0 0 0 30px;
    display: none;
}

@media screen and (max-width: 768px) {
    .numbers__select_shop {
        display: block;
    }
}