.header__subtitle_burger {
  display: none;
  width: 20px;
  height: 20px;
  padding-right: 20px;
  cursor: pointer; }
  .header__subtitle_burger:hover {
    opacity: 0.6; }

@media screen and (max-width: 768px) {
  .header__subtitle_burger {
    display: block; } }
