@import '../../color/color.scss';

.money__pay {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background-color: $color-white;
    padding: 30px;
}