.articles__5_small {
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px; }

.articles__5_small {
  position: absolute;
  width: 310px;
  margin: 121px 0 0 20px;
  opacity: 0.7; }
