.numbers__select {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  -webkit-column-gap: 75px;
          column-gap: 75px;
  row-gap: 15px;
  margin: 0; }

@media screen and (max-width: 768px) {
  .numbers__select {
    grid-template-columns: 1fr 1fr; } }
@media screen and (max-width: 375px) {
  .numbers__select {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; } }
