@mixin opacity {
    opacity: 0.6;
}

@mixin switching_to_flex {
    position: relative;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 280px;
    padding: 20px;
    cursor: grab;
    margin: 0 10px 0 0;
    flex-direction: column;
    &::-webkit-scrollbar {
        display: none;
    }
}