.articles__5_button {
  position: relative;
  background-color: #80C9FF;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin: 0 0 30px 0; }

@media screen and (max-width: 768px) {
  .articles__5_button {
    width: 100%;
    margin: 5px 0 0 0; } }
