.search_field {
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px; }

.search_field {
  background-color: #FFFFFF;
  opacity: 0.6;
  width: 320px;
  height: 55px;
  border-radius: 10px;
  border: none;
  padding-left: 20px; }

@media screen and (max-width: 768px) {
  .search_field {
    max-width: 100%; } }
