.header__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 13px; }

@media screen and (max-width: 768px) {
  .header__title {
    padding-bottom: 6px; } }
