@import '../../color/color.scss';
@import '../../font/font.scss';

.bunner__slogan {
    position: relative;
    color: $color-white;
    @extend %font-size-70-calc;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 1381px) {
    %font-size-70-calc {
        font-size: 70px;
        font-style: normal;
        font-weight: 600;
        line-height: 66px;
    }
}

@media screen and (max-width: 768px) {
    .bunner__slogan {
        color: $color-main-black;
    }
}

@media screen and (max-width: 375px) {
    .bunner__slogan {
        color: $color-white;
    }
}
