.bunner__slogan {
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: 66px; }

.bunner__slogan {
  position: relative;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  width: 435px;
  height: 200px;
  left: 30px;
  bottom: 490px; }
