.application__mini {
    display: none;
}

@media screen and (max-width: 980px) {
    .application__mini {
        display: flex;
        padding: 50px 0 30px 0;
    }
}

@media screen and (max-width: 575px) {
    .application__mini {
        flex-direction: column;
    }
}