.gadget__megafon_question {
    position: relative;
    max-width: 520px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .gadget__megafon_question {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}