@import '../../../font/font.scss';
@import '../../../mixin/mixin.scss';

.numbers__choice_font {
    @extend %font-size-20;
    margin: 0 30px 0 0;

    &:last-child {
        margin: 0 100px 0 0;
    }
}

@media screen and (max-width: 1182px) {
    .numbers__choice_font:last-child {
        @include adaptiv-font(20, 10);
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .numbers__choice_font {
        font-size: 15px;

        &:last-child {
            margin: 0 100px 0 0;
        }
    }
}

@media screen and (max-width: 640px) {
    .numbers__choice_font:last-child {
        margin: 0;
    }
}
