@import '../../../font/font.scss';

.numbers__choice_font {
    @extend %font-size-20;
    margin: 0 30px 0 0;
}

.numbers__choice_font:last-child {
    margin: 0 100px 0 0;
}

@media screen and (max-width: 1182px) {
    .numbers__choice_none:last-child {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .numbers__choice_none:last-child {
        margin: 0 100px 0 0;
    }
}