.gadget__price_color-old {
  font-style: normal;
  font-weight: normal;
  line-height: 25px; }

.gadget__price_color-old {
  color: #000000;
  font-size: calc(12px + 3 * ((100vw - 768px) / 572));
  text-decoration: line-through;
  opacity: 0.3; }

@media screen and (max-width: 768px) {
  .gadget__price_color-old {
    font-size: 15px; } }
