.button {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; }

.button {
  border-radius: 30px;
  padding: 15px 35px;
  cursor: pointer; }

.button:hover {
  opacity: 0.6; }
