@import '../font/font.scss';
@import '../mixin/mixin.scss';

.button {
    @extend %font-size-15-500;
    border-radius: 30px;
    padding: 15px 35px;
    cursor: pointer;

    &:hover {
        @include opacity();
    }
}